@font-face{
	font-family: technology;
	src: url("../assets/fonts/Technology.ttf");
}

body{
	background-color: #0c0c0c;
	color: white;
	text-align: center;
}
.calculator{
	color: initial;
	background-color: #262626;
	height: 330px;
	width: 220px;
	padding: 5px;
	margin: auto;	
}
.screen{
	font-family: technology;
	background-color: #8da78b;
}
.resultLine{
	pointer-events: none;
}
.resultLine, .writeLine{
	/*letter-spacing: 1;*/
}
.button, .buttonC{
	background-color: #595959;
	border: none;
	border-radius: 5px;
	height: 100%;
	width: 100%;
}
.buttonC{
	background-color: #d32121;
	border-radius: 0px;
}